.chat-message-user{
  display: flex;
  justify-content: end;
  align-items: start;

}

.chat-message-robot{
  display: flex;
  justify-content: start;
  align-items: start;
}

.chat-message-text{
  background-color: rgb(238, 238, 238);
  padding: 10px 15px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  max-width: 300px;
}

.chat-message-profile{
  width: 50px;
}

.chat-messages-container{
  margin-top: 10px;
  flex-grow: 1;
  overflow: scroll;
  scrollbar-width: none;
  
}
.time-send-message{
  font-size: 50%;
  color: gray;
  text-align: start;
  margin: 0;
}
