.app-container{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 95vh;
  display: flex;
  flex-direction: column;
}

.website-logo-start{
  width: 300px;
  user-select: none;
    -webkit-user-drag: none;
}
